body {
    padding: 0;
    margin: 0;
}

.controls-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.shape-pane {
    order: 1;
}

.meta-pane {
    order: 2;
}

.w23 {
    width: 3rem;
}

.h23 {
    height: 3rem;
}

.w6 {
    width: 32rem;
}

@media screen and (min-width: 30em) {
    .w6-ns {
        width: 32rem;
    }

    .w3-ns {
        width: 4rem;
    }
    
    .h3-ns {
        height: 4rem;
    }
}
